



{% extends 'documents/base.html' %}
{% block title %}Home Invitekucom{% endblock %}
  {% block content %}
  <div id="content" role="main">
	<div class="idocs-navigation bg-light">
      <ul class="nav flex-column ">
        <li class="nav-item"><a class="nav-link active" href="#">Show All</a>
        </li>
      </ul>
    </div>
    <div class="idocs-content">
      <div class="container"> 
        <section id="{{ document.category.name }}">
        <h1>Post List</h1>
        <ol>
            {% for document in documents %}
            <li>
              <a href="{% url 'document_detail' document.slug %}">{{ document.title }}</a>
            </li>
          {% empty %}
            <li>No posts available in this category.</li>
          {% endfor %}
        </ol>
		<hr>
        <p class="alert alert-info">If you have any questions that are beyond the scope of this help file, Please feel free to email via</p>
        </section> 
      </div>
    </div>
  </div>
  {% endblock %}
