{% extends 'home/base.html' %}
{% block title %}Reset Password Berhasil{% endblock %}
{% block content %}
<div class="service-container-password">
    <div class="status-indicators">
        <span class="red"></span>
        <span class="yellow"></span>
        <span class="green"></span>
    </div>
    <h2>Password Reset Complete</h2>
    <p>Your password has been set. You may go ahead and log in now. <a href="{% url 'login' %}" style="color: #000; text-decoration: none; cursor: pointer;">Login Sekarang</a></p>
</div>
{% endblock %}
